@charset "utf-8";

/* reset */
*, *:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
padding: 0;
margin: 0;
}

html {
height: 100%;
line-height: 1;
background: #ffffff;
color: #333333;
}
body {
margin: 0;
padding: 0;
border: 0;
width: 100%;
height: auto;
font-size: 100%;
line-height: 1.4;
overflow-y: scroll;
font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
word-break: break-all;
-webkit-text-size-adjust:100%;
color: #333;
}
body.sp-vis {
display: block;
}
body.m-op {
position: fixed;
top: 0;
left: 0;
right: 0;
width: 100%;
height: 100%;
}

article,aside,details,figcaption,include,footer,header,hgroup,main,nav,section,summary {
display:block;
margin:0;
padding:0;
}
h1,h2,h3,h4,h5,h6,dl,dt,dd,p,blockquote,ul,ol,li {
margin: 0;
padding: 0;
font-size: 1.4rem;
vertical-align: baseline;
-webkit-overflow-wrap: break-word;
-ms-overflow-wrap: break-word;
overflow-wrap: break-word;
-webkit-word-wrap: break-word;
-ms-word-wrap: break-word;
word-wrap: break-word;
line-height: 1.8;
}
figcaption,span {
-webkit-overflow-wrap: break-word;
-ms-overflow-wrap: break-word;
overflow-wrap: break-word;
-webkit-word-wrap: break-word;
-ms-word-wrap: break-word;
word-wrap: break-word;
}
p {
font-size: 1.4rem;
margin: 8px 0;
}
[hidden],template {
display: none;
}
a:link {
color: #1262B2;
text-decoration: underline;
}
a:visited {
color: #1262B2;
text-decoration: underline;
}
a:active,a:hover {
opacity: 1;
color: #1262B2;
text-decoration: underline;
}
body.tab a:active,
body.tab a:hover {
opacity: 1;
}
abbr[title] {
border-bottom: 1px dotted;
}
i,em {
font-style:normal;
}
b,strong,em {
font-weight: bold;
}
small {
font-size: 1.3rem;
line-height: 1.6;
}
ul,ol {
margin: 1.2em 0;
padding: 0 0 0 2em;
}
li {
margin: .4em 0;
}
img {
border: 0;
vertical-align: top;
}
img { -ms-interpolation-mode: bicubic; }
form {
margin: 0;
padding: 0;
}
::-webkit-scrollbar {
display: none;
}

/* clearfix */
.clearfix:before,
.clearfix:after {
content: "";
display: table;
}
.clearfix:after {
clear: both;
}
.clearfix {
*zoom: 1;
}

.pc-obj {
display: none;
}
.sp-obj {
display: block;
}

/* header */
header {
color: #333;
background-color: #2b2f30;
}
header .inner {
margin: 0;
padding: 0;
}
header .h-logo-box {
margin: 0;
padding: 0;
}
header h1 {
margin: 0;
padding: 0;
}
header a.logo {
display: inline-block;
width: 44%;
height: auto;
background: #2846A0;
text-align: center;
margin: 0;
padding: 0 8px;
}
header a.logo img {
width: 100%;
max-width: 170px;
max-height: 64px;
}

/* footer */
footer {
padding: 16px 0;
background-color: #eee;
color: #333;
text-align: center;
}
footer .f-cnt-box small {
font-size: 13px;
}
.f-pagetop-box {
display: none;
bottom: 0;
right: 4%;
z-index: 2;
}
.f-pagetop-box.f-fixed {
position: fixed;
}
a.page-top-btn {
position: relative;
display: block;
width: 56px;
height: 56px;
background-color: rgba(0, 0, 0, 0.8);
background-size: 30px;
background-image: url(./img/ico_pagetop.png);
background-repeat: no-repeat;
background-position: center center;
}

/* contents */
.wrap-all {
width: 100%;
height: 100%;
}
.inner {
margin: 0;
padding: 0;
width: 100%;
}
.main-wrap {
padding: 0;
margin: 0;
}
.cnt-area {
margin: 0;
padding: 0;
width: 100%;
}

/* ttl-box */
.ttl-box {
margin: 0;
padding: 0 4%;
width: 100%;
text-align: center;
}
.ttl-box h2 {
font-style: italic;
font-weight: bold;
font-family: "Times New Roman";
font-size: 1.6rem;
line-height: 1;
padding: 24px 8px;
margin: 24px 0;
border: 1px solid rgba(130, 185, 255, 1);
position: relative;
}
.ttl-box h2:after {
content: '';
background-color: rgba(130, 185, 255, 0.4);
display: block;
position: absolute;
width: 100%;
height: 100%;
top: -4px;
right: -4px;
z-index: -1;
}
.ttl-box h2 i {
font-style: italic;
font-weight: bold;
font-family: "Times New Roman";
font-size: 2.4rem;
}
.ttl-box h3 {
font-weight: bold;
font-size: 1.6rem;
line-height: 1.2;
padding: 0;
margin: 32px 0 16px;
}
.ttl-box h4 {
font-weight: normal;
font-size: 1.4rem;
line-height: 1.2;
padding: 8px 0;
margin: 8px 0;
border-bottom: 1px solid rgba(130, 185, 255, 1);
}

/* tbl-box */
.tbl-box {
display: block;
width: 100%;
margin: 0;
padding: 0;
}
.tbl-box .tbl-left-box {
display: block;
width: 100%;
margin: 0;
padding: 0;
}
.tbl-box .tbl-right-box {
display: block;
width: 100%;
margin: 0;
padding: 0;
}

/* gmap-box */
.gmap-box {
margin: 24px 0;
padding: 0 0 0 4%;
width: 100%;
}
.gmap-box a {
display: block;
}
.gmap-box img {
width: 100%;
display: block;
}

/* img-box */
.img-box {
margin: 24px 0;
padding: 0 4% 0 0;
width: 100%;
}
.img-box img {
width: 100%;
}

/* aw-lazy */
.aw-lazy {
opacity : 0;
transform : translate(0, 50px);
-webkit-transition: 1s all;
-moz-transition: 1s all;
-ms-transition: 1s all;
-o-transition: 1s all;
transition: 1s all;
}
.aw-lazy.aw-lazy-init {
opacity: 1;
transform : translate(0, 0);
}

/* Slick */
.aw-slick {
display: none;
margin: 0;
padding: 0;
list-style: none;
}
.aw-slick.slick-initialized {
display: block;
}
.slick-slider {
position: relative;
display: none;
box-sizing: border-box;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-touch-callout: none;
-khtml-user-select: none;
-ms-touch-action: pan-y;
touch-action: pan-y;
-webkit-tap-highlight-color: transparent;
height: 100%;
}
.slick-slider.slick-initialized {
display: block;
}
.slick-list {
position: relative;
display: block;
overflow: hidden;
margin: 0;
padding: 0;
height: 100%;
}
.slick-list:focus {
outline: none;
}
.slick-list.dragging {
cursor: pointer;
cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
-webkit-transform: translate3d(0, 0, 0);
-moz-transform: translate3d(0, 0, 0);
-ms-transform: translate3d(0, 0, 0);
-o-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}

.slick-track {
position: relative;
top: 0;
left: 0;
display: block;
height: 100%;
}
.slick-track:before,
.slick-track:after {
display: table;
content: '';
}
.slick-track:after {
clear: both;
}
.slick-loading .slick-track {
visibility: hidden;
}
.slick-slide {
display: none;
float: left;
height: 100%;
min-height: 1px;
margin: 0;
padding: 0;
}
[dir='rtl'] .slick-slide {
float: right;
}
.slick-slide img {
display: block;
}
.slick-slide.slick-loading img {
display: none;
}
.slick-slide.dragging img {
pointer-events: none;
}
.slick-initialized .slick-slide {
display: block;
}
.slick-loading .slick-slide {
visibility: hidden;
}
.slick-vertical .slick-slide {
display: block;
height: auto;
border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
display: none;
}

.slick-loading .slick-list {
background: #fff url('./img/img_ajax-loader.gif') center center no-repeat;
}
.slick-prev,
.slick-next {
font-size: 0;
line-height: 0;
position: absolute;
top: 50%;
display: block;
width: 40px;
height: 100%;
padding: 0;
-webkit-transform: translate(0, -50%);
-ms-transform: translate(0, -50%);
transform: translate(0, -50%);
cursor: pointer;
color: transparent;
border: none;
outline: none;
background: transparent;
z-index: 1;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
opacity: 1;
}
.slick-prev:before,
.slick-next:before {
display: block;
font-family: 'slick';
font-size: 32px;
line-height: 1;
color: white;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
background-color: rgba(0, 0, 0, 0.4);
padding: 16px 0 22px;
}
.slick-prev {
left: 0;
}
[dir='rtl'] .slick-prev {
right: 0;
left: auto;
}
.slick-prev:before {
content: '<';
}
[dir='rtl'] .slick-prev:before {
content: '>';
}
.slick-next {
right: 0;
}
[dir='rtl'] .slick-next {
right: auto;
left: 0;
}
.slick-next:before {
content: '>';
}
[dir='rtl'] .slick-next:before {
content: '<';
}
.slick-dots {
position: absolute;
bottom: 8px;
display: block;
width: 100%;
padding: 0;
margin: 0;
list-style: none;
text-align: center;
}
.slick-dots li {
position: relative;
display: inline-block;
width: 32px;
height: 32px;
margin: 0 5px;
padding: 0;
cursor: pointer;
}
.slick-dots li button {
font-size: 0;
line-height: 0;
display: block;
width: 32px;
height: 32px;
padding: 5px;
cursor: pointer;
color: transparent;
border: 0;
outline: none;
background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
opacity: 1;
}
.slick-dots li button:before {
font-size: 32px;
line-height: 32px;
position: absolute;
top: 0;
left: 0;
width: 32px;
height: 32px;
content: '•';
text-align: center;
color: #fff;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
opacity: 0.75;
}
.slick-dots li.slick-active button:before {
color: #2846A0;
}
